<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption bestseller-caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="ad-scis">
        <button type="button" class="tb_button_add_to_cart" onclick="cart.add('{{ product.product_id }}');"> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
            <div class="product_in_category_attributes">
            {% for attr in product.attributes %}
              <div> <span>{{ attr.name }}</span> {{ attr.text }} </div>
            {% endfor %}
            </div>
            </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="whitespece"></div>
<script type="">
const slider = new Swiper('.swiper-container', { // шукаємо слайдер прев'ю по селектору
  direction: 'horizontal', // вертикальна прокручування
  slidesPerView: 4, // показувати по 3 прев'ю
  spaceBetween: 0, // відстань між слайдами
  navigation: { // задаємо кнопки навігації
    nextEl: '.swiper-button-next', // кнопка Next
    prevEl: '.swiper-button-prev' // кнопка Prev
  },
  freeMode: true // при перетягуванні прев'ю поводиться як при скролле
  // breakpoints: { // умови для різних розмірів вікна браузера
  //   0: { // при 0px і вище
  //     direction: 'horizontal', // горизонтальне прокручування
  //   },
  //   768: { // при 768px і вище
  //     direction: 'vertical', // вертикальна прокручування
  //   }
  // }
});
</script>
