{% if (heading_title is not empty) %}
    <aside class="side-module box-shadow box-corner">
        <div class="blog-article-short">
            <h3>{{ heading_title }}</h3>
        {% endif %}
        <div class="wrapps asb-wrap" style="border:none">
            {% for article in articles %}
                <div class="row actik">
                    {{ blog_meta['date'] }}
                    <img src="{{ article['thumb'] }}" alt="{{ article['name'] }}" title="{{ article['name'] }}" class=""/>
                    <a href="{{ article['href'] }}">
                        {{ article['name'] }}</a>
                        {% if (blog_meta['date'] is not empty) %}
                        <div class="entry-date published">
                            <i class="fa fa-calendar"></i>
                            {{ article['date_modified'] }}
                        </div>
                    {% endif %}
                    {% if (blog_meta['author'] is not empty) %}
                        <div class="entry-author">
                            <i class="fa fa-user"></i>
                            <a href="{{ article['author']['href'] }}">{{ article['author']['name'] }}</a>
                        </div>
                    {% endif %}
                    {% if (blog_meta['comments'] is not empty and article['total_comments']) %}
                        <div class="entry-comments-link">
                            <i class="fa fa-comment-o"></i>
                            <a href="{{ article['href'] }}#comments">{{ article['total_comments'] }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</aside>