{% if (heading_title) %}
    <aside class="side-module box-shadow box-corner">
        <h3>{{ heading_title }}</h3>
    {% endif %}

    <div class="list-group">
        {% for article in articles %}
            {% if (article['article_id'] == article_id) %}
                <a href="{{ article['href'] }}" class="list-group-item active">{{ article['name'] }}</a>
            {% else %}
                <a href="{{ article['href'] }}" class="list-group-item">{{ article['name'] }}</a>
            {% endif %}
        {% endfor %}
    </div>
</aside>