{% if not is_loadmore %}
<div class="ytchannel ytchannel{{ module_id }}">
	{% if heading_title %}
		<h3>{{ heading_title }}</h3>
	{% endif %}
	<div class="ytchannel-content">
		{% if header_setting and header_data %}
			<div class="ytchannel-header">
				{% if 'logo' in header_setting %}
					<div class="ytchannel-logo">
						<img src="{{ header_data.thumb }}" alt="{{ header_data.title }}" class="img-responsive">
					</div>
				{% endif %}
				<div class="ytchannel-data">
					{% if 'name' in header_setting %}<h4 class="ytchannel-name">{{ header_data.title }}</h4>{% endif %}
					{% if 'description' in header_setting and header_data.description %}
						<p class="ytchannel-description">{{ header_data.description }}</p>
						<div class="yt-shadow">
							<div class="yt-shadow-inner"></div>
						</div>
						<div class="yt-show-description">{{ text_yt_showmore }}</div>
						<div class="yt-hide-description">{{ text_yt_showless }}</div>
					{% endif %}
					<div class="yt-statistic">
						{% if 'videos' in header_setting and header_data.videos %}<span class="yt-videos yt-divider">{{ header_data.videos }} {{ text_yt_videos }}</span>{% endif %}
						{% if 'views' in header_setting and header_data.views %}<span class="yt-views yt-divider">{{ header_data.views }} {{ text_yt_views }}</span>{% endif %}
						{% if 'subscribers' in header_setting and header_data.subscribers %}<span class="yt-subscribers yt-divider">{{ header_data.subscribers }} {{ text_yt_subscribers }}</span>{% endif %}
					</div>
					{% if 'search' in header_setting %}
						<div class="yt-search input-group">
							<input type="text" name="yt-search" value="" placeholder="{{ text_yt_search }}" class="form-control yt-search-input">
							<span class="input-group-btn">
								<button type="button" class="yt-search-btn"><i class="yt-search-icon"></i></button>
							</span>
						</div>
					{% endif %}
				</div>
				{% if 'subscribe' in header_setting and subscribe_link %}<span class="btn-yt-subscribe" onclick="window.open('{{ subscribe_link }}')" class="yt-subscribe">{{ text_yt_subscribe }}</span>{% endif %}
				<div class="clearfix"></div>
			</div>
		{% endif %}
		<div class="ytchannel-items">
			<div class="ytchannel-grid row">
{% endif %}

			{% set i = 0 %}
			{% for video in videos %}
				<div class="ytchannel-item col-sm-{{ 12 / columns }} col-xs-12">
					<div class="yt-video">
						<a href="https://www.youtube.com/watch?v={{ video.video_id }}">
							<img src="{{ video.thumb }}" alt="{{ video.title }}" class="img-responsive center-block">
							{% if 'playicon' in video_setting %}<i class="yt-play"></i>{% endif %}
							{% if 'duration' in video_setting %}<span class="yt-duration">{{ video.duration }}</span>{% endif %}
						</a>
					</div>
					{% if video_setting %}
						{% if 'title' in video_setting %}<h5 class="yt-video-title">{{ video.title }}</h5>{% endif %}
						{% if 'date' in video_setting %}<time>{{ video.date }}</time>{% endif %}
						{% if 'description' in video_setting and video.description %}<p>{{ video.description }}</p>{% endif %}
						{% if 'views' in video_setting %}<span class="yt-views yt-divider">{{ video.views }} {{ text_yt_views }}</span>{% endif %}
						{% if 'likes' in video_setting %}<span class="yt-likes yt-divider">{{ video.likes }} {{ text_yt_likes }}</span>{% endif %}
						{% if 'comments' in video_setting %}<span class="yt-comments yt-divider">{{ video.comments }} {{ text_yt_comments }}</span>{% endif %}
					{% endif %}
				</div>
			{% set i = i + 1 %}
			{% if i % columns == 0 %}<div class="clearfix"></div>{% endif %}
			{% endfor %}

			{% if is_loadmore and not videos %}
				<div class="yt-empty">{{ text_yt_empty }}</div>
			{% endif %}

{% if not is_loadmore %}
			</div>
		</div>
	</div>
	{% if loadmore and total > limit %}
		<div class="text-center">
			<a href="#" class="btn-yt-loadmore" data-total="{{ total }}" data-limit="{{ limit }}" data-start="{{ limit }}">{{ text_load_more }}</a>
		</div>
	{% endif %}
</div>

{% if loadmore and total > limit %}
<script><!--
$('.ytchannel{{ module_id }}').on('click', '.btn-yt-loadmore', function(e){
	e.preventDefault();
	e.stopPropagation();
	var $this = $(this);
	var data = { limit: $this.data('limit'), start: $this.data('start'), module_id: '{{ module_id }}' };
	$.ajax({
		url: 'index.php?route=extension/module/ytchannel/loadmore',
		type: 'POST',
		dataType: 'html',
		data: data,
		cache: false,
		beforeSend: function() {
			$this.button('loading');
		},
		complete: function() {
			$this.button('reset');
		},
		success: function (videos) {
			$('.ytchannel-grid').append(videos);
			$this.data('start',$this.data('start') + $this.data('limit'));
			if (parseInt($this.data('start')) >= parseInt($this.data('total'))) {
				$this.remove();
			}
		}
	}); 
});
--></script>
{% endif %}

{% if 'description' in header_setting and header_data.description %}
<script><!--
$(document).ready(function() {
	var yt_description = $(".ytchannel-description"),
	yt_description_height = yt_description.height();
	if (yt_description_height > 80) {
		yt_description.height('80px');
		$('.yt-show-description').on('click', function(){
			yt_description.animate({height: yt_description_height+'px'},200);
			$('.yt-shadow').hide();
			$('.yt-show-description').hide();
			$('.yt-hide-description').show();
		});
		$('.yt-hide-description').on('click', function(){
			yt_description.animate({height:'80px'},200);
			$('.yt-shadow').show();
			$('.yt-hide-description').hide();
			$('.yt-show-description').show();
		});
	} else {
		$('.yt-shadow').hide();
		$('.yt-show-description').hide();
	}
});
--></script>
{% endif %}

{% if 'search' in header_setting %}
<script><!--
$('.yt-search-btn').on('click', function() {
	var $this = $(this),
	$parent_yt = $this.closest('.ytchannel'),
	value = $this.closest('.yt-search').find('input[name=\'yt-search\']').val();
	if (value) {
		var data = { limit: '{{ limit }}', start: 0, module_id: '{{ module_id }}', search: value };
		$.ajax({
			url: 'index.php?route=extension/module/ytchannel/loadmore',
			type: 'POST',
			dataType: 'html',
			data: data,
			cache: false,
			beforeSend: function() {
				$parent_yt.find('.ytchannel-items').addClass("yt-overlay");
			},
			success: function (videos) {
				$('.ytchannel-grid').html(videos);
				$('.btn-yt-loadmore').hide();
				setTimeout(function(){
					$parent_yt.find('.ytchannel-items').removeClass("yt-overlay");
				}, 300);
				$this.closest('.yt-search').append('<span class="yt-close-btn"><i class="yt-close-icon"></i></span>');
			}
		});
	}
});

$('input[name=\'yt-search\']').on('keydown', function(e) {
	if (e.keyCode == 13) {
		$(this).parent().find('button').trigger('click');
	}
});

$(document).on('click', '.yt-close-btn', function() {
	var $this = $(this),
	$parent_yt = $this.closest('.ytchannel');

	var data = { limit: '{{ limit }}', start: 0, module_id: '{{ module_id }}' };
	$.ajax({
		url: 'index.php?route=extension/module/ytchannel/loadmore',
		type: 'POST',
		dataType: 'html',
		data: data,
		cache: false,
		beforeSend: function() {
			$parent_yt.find('.ytchannel-items').addClass("yt-overlay");
		},
		success: function (videos) {
			$('.ytchannel-grid').html(videos);
			$('.btn-yt-loadmore').show();
			setTimeout(function(){
				$parent_yt.find('.ytchannel-items').removeClass("yt-overlay");
			}, 300);
			$this.closest('.yt-search').find('input[name=\'yt-search\']').val('');
			$this.remove();
		}
	});
	
});
//--></script>
{% endif %}

{% if videos %}
{% set counter = videos|length %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "video":
  [
{% set i = 0 %}{% for video in videos %}	{
	  "@type": "VideoObject",
	  "name": "{{ video.title|escape }}",
	  "description": "{{ video.description_micro ? video.description_micro|escape : video.title|escape }}",
	  "thumbnailUrl": "{{ video.thumb }}",
	  "uploadDate": "{{ video.date_micro }}",
	  "duration": "{{ video.duration_micro }}",
	  "embedUrl": "https://www.youtube.com/embed/{{ video.video_id }}"
	}{% set i = i + 1 %}{% if i < counter %},{% endif %}
{% endfor %}
  ]
}
</script>
{% endif %}

{% endif %}

<script><!--
$(document).ready(function() {   
	$('.ytchannel-content').magnificPopup({
		type: 'iframe',
		delegate: 'a',
		gallery: {
			enabled: true
		},
		iframe: {
			patterns: {
				youtube: {
					index: 'youtube.com/', 
					id: function(url) {        
						var m = url.match(/[\\?\\&]v=([^\\?\\&]+)/);
						if ( !m || !m[1] ) return null;
						return m[1];
					},
					src: '//www.youtube.com/embed/%id%?fs={{ fullscreen }}&modestbranding={{ branding }}'
				}
			}
		},
	}); 
}); 
//--></script>