{{ header }}

			<main>
				<section	class="profile">
					<div	class="breadcrumbs__container"	bis_skin_checked="1">
						<ul	class="breadcrumb">
							{% for breadcrumb in breadcrumbs %}
								<li>
									<a	href="{{ breadcrumb.href }}">
										{{ breadcrumb.text }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div	class="profile__container">
						<div	class="profile__wrapper">
							{{ account }}
							<div	class="profile__main">
								{{ account_discount }}
								<div	class="profile__block profile__block--line_mod">
									<h2	class="profile__title">
										{{ heading_title }}
									</h2>
									<form	class="profile__form"	action="{{ action }}"	method="post"	enctype="multipart/form-data">
										<div	class="profile__form_row">
											<label	class="toggle">
												<input	type="checkbox"	class="toggle_input"	name="newsletter"	id="newsletter"	{% if newsletter %}	checked="checked"	{% endif %} />
												<div	class="toggle_switch"></div>
												<span>
													{{ text_subscribed }}
												</span>
											</label>
										</div>
										<div	class="account-newsletter__success"	id="respond-success"></div>
										<div	class="profile__form_row">
											<div	class="profile__form_column">
												<label	class="registration_input__label"	for="newPassword">
													<span>
														*
													</span>
													{{ entry_password }}
												</label>
												<input	class="input--profile_mod"	id="newPassword"	type="password"	name="password"	value="{{ password }}"	placeholder="{{ entry_password }}"	required />
												{% if error_password %}
													<div	class="text-danger">
														{{ error_password }}
													</div>
												{% endif %}
											</div>
											<div	class="profile__form_column">
												<label	class="registration_input__label"	for="newPassword2">
													<span>
														*
													</span>
													{{ entry_confirm }}
												</label>
												<input	class="input--profile_mod"	id="newPassword2"	type="password"	placeholder="{{ entry_confirm }}"	name="confirm"	value="{{ confirm }}"	required />
												{% if error_confirm %}
													<div	class="text-danger">
														{{ error_confirm }}
													</div>
												{% endif %}
											</div>
										</div>
										<button	type="submit"	class="button profile__form_button">
											{{ text_save }}
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<script>
		$(document).ready(function() {
			$('#newsletter').on('click', function() {
				if($('input[name="newsletter"]').attr('checked') == 'checked'){
					var elem = 'unsubscribe';
					$('input[name="newsletter"]').removeAttr('checked');
				}else{
                    var elem = 'subscribe';
					$('input[name="newsletter"]').attr('checked', 'checked');
				}
				$.ajax({
					url: 'index.php?route=account/password/' + elem +'',
					type: 'post',
					dataType: 'json',
					data: 'email=' + '{{ customer_email }}&lang={{ lang }}',
					success: function(json) {
						$('.text-success, .text-danger').remove();
						if (json['error']) {
							$('#respond-success').html('<span class="text-danger">' + json['error'] + '</span>');
						}
						if (json['success']) {
							$('#respond-success').html('<span class="text-success">' + json['success'] + '</span>'); }}
				});
				//return false;
			});
		});
	</script>

			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
{{ footer }}
