{{ header }}

<main>
  <section class="profile">
    <div class="breadcrumbs__container" bis_skin_checked="1">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">
              {{ breadcrumb.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if success %}
        <div class="alert alert-success alert-dismissible">
          <i class="fa fa-check-circle"></i>
          {{ success }}
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
        </div>
      {% endif %}
    </div>
    <div class="profile__container">
      <div class="profile__wrapper">
        {{ account }}
        <div class="profile__main">
          {{ account_discount }}
          <div class="profile__block profile__block--line_mod">
            <h2 class="profile__title">
              {{ heading_title }}
            </h2>
            <div class="profile__table_wrapper profile__table_wrapper--wishlist_mod wishlist-table">
              <div class="profile__table">
                <div class="profile__table_head">
                  <div class="profile__table_row profile__table_row--head">
                    <div class="profile__table_cell">
                      {{ column_name }}
                    </div>
                    <div class="profile__table_cell">
                      {{ column_stock }}
                    </div>
                    <div class="profile__table_cell">
                      {{ column_price }}
                    </div>
                    <div class="profile__table_cell"></div>
                  </div>
                </div>
                <div class="profile__table_body">
                  {% for product in products %}
                    <div class="profile__table_row">
                      <div class="profile__table_cell">
                        <span class="profile__table_cell--mob">
                          {{ column_name }}
                        </span>
                        <span class="profile__table_cell--mob_span">
                          <img class="profile__table_cell_photo" src="{{ product.thumb }}" alt="Product" />
                          <a href="{{ product.href }}">
                            {{ product.name }}
                          </a>
                        </span>
                      </div>
                      <div class="profile__table_cell">
                        <span class="profile__table_cell--mob">
                          {{ column_stock }}
                        </span>
                        <span class="profile__table_cell--mob_span">
                          {{ product.stock }}
                        </span>
                      </div>
                      <div class="profile__table_cell">
                        <span class="profile__table_cell--mob">
                          {{ column_price }}
                        </span>
                        <span class="profile__table_cell--mob_span">
                          {{ product.price }}
                        </span>
                      </div>
                      <div class="profile__table_cell">
                        <button class="profile__table_body_actions" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ text_add_to_cart }}" onclick="cart.add('{{ product.product_id }}');">
                          <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.33697 4.34751L0.634766 1.64531L1.81327 0.466797L4.51547 3.169H17.2169C17.6772 3.169 18.0502 3.5421 18.0502 4.00233C18.0502 4.08343 18.0384 4.16411 18.0152 4.24179L16.0152 10.9085C15.9094 11.261 15.5849 11.5024 15.2169 11.5024H5.00363V13.169H14.1703V14.8357H4.1703C3.71006 14.8357 3.33697 14.4625 3.33697 14.0024V4.34751ZM5.00363 4.83566V9.8357H14.5969L16.0969 4.83566H5.00363ZM4.58697 18.169C3.89661 18.169 3.33697 17.6094 3.33697 16.919C3.33697 16.2286 3.89661 15.669 4.58697 15.669C5.27733 15.669 5.83697 16.2286 5.83697 16.919C5.83697 17.6094 5.27733 18.169 4.58697 18.169ZM14.587 18.169C13.8966 18.169 13.337 17.6094 13.337 16.919C13.337 16.2286 13.8966 15.669 14.587 15.669C15.2773 15.669 15.837 16.2286 15.837 16.919C15.837 17.6094 15.2773 18.169 14.587 18.169Z" />
                          </svg>
                          <p class="profile__table_body_actions_text">
                            {{ text_add_to_cart }}
                          </p>
                        </button>
                        <a href="{{ product.remove }}" class="profile__table_body_actions" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ text_remove }}" >
                          <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.1667 4.00033H17.3334V5.66699H15.6667V16.5003C15.6667 16.9606 15.2936 17.3337 14.8334 17.3337H3.16669C2.70645 17.3337 2.33335 16.9606 2.33335 16.5003V5.66699H0.666687V4.00033H4.83335V1.50033C4.83335 1.04009 5.20645 0.666992 5.66669 0.666992H12.3334C12.7936 0.666992 13.1667 1.04009 13.1667 1.50033V4.00033ZM14 5.66699H4.00002V15.667H14V5.66699ZM10.1785 10.6667L11.6517 12.1399L10.4732 13.3184L9.00002 11.8452L7.52685 13.3184L6.34837 12.1399L7.82152 10.6667L6.34837 9.19366L7.52685 8.01516L9.00002 9.48824L10.4732 8.01516L11.6517 9.19366L10.1785 10.6667ZM6.50002 2.33366V4.00033H11.5V2.33366H6.50002Z" />
                          </svg>
                          <p class="profile__table_body_actions_text">
                            {{ text_remove }}
                          </p>
                        </a>
                      </div>
                    </div>
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ footer }}
