{{ header }}
<div id="product-bestseller" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
	<div class="row">{{ column_left }}
{% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% set class_col = 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% set class_col = 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% set class_col = 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
    {% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1>{{ heading_title }}</h1>
			{% if products %}
			<div class="subcategory_products__wrapper category-products">
       {% for product in products %} 
      <div class="product{% if product.stock_id == 5 and product.quantity < 1 %} out-of-stock{% endif %}">
        <div class="product__wrapper">
          <div class="product__labels">
          {% if product.product_xdstickers is not empty %}
          {% for xdsticker in product.product_xdstickers %}
            <span class="product__labels-label">{{ xdsticker.text }}</span>
          {% endfor %}
          {% endif %}
          {% if product.product_xdstickers_custom is not empty %}
          {% for xdsticker in product.product_xdstickers_custom %}
            <span class="product__labels-label">{{ xdsticker.text }}</span>
          {% endfor %}
          {% endif %}
          {% if product.is_rotate %}
            <span class="product__labels-overwiev">
              <img src="catalog/view/theme/default/image//product/overview.png" alt="360" />
            </span>
          {% endif %}
          </div>
          <div class="product__like">
            <svg class="product__like-item product-like-{{ product.product_id }}{% if product.wl_class %} product__like-active{% endif %}" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg" id="product-like-{{ product.product_id }}" {% if not product.wl_class %}onclick="wishlist.add({{ product.product_id }})"{% else %}onclick="wishlist.remove({{ product.product_id }})"{% endif %}>
              <path
                d="M11.9626 19.5381L2.10281 9.80024C1.07574 8.78576 0.5 7.41137 0.5 5.97966C0.5 4.548 1.07574 3.17365 2.10281 2.15928C3.13034 1.1449 4.52508 0.573975 5.98067 0.573975C7.43626 0.573975 8.83108 1.1449 9.85873 2.15928L11.9626 4.23506L14.0665 2.15928C15.094 1.1449 16.4888 0.573975 17.9444 0.573975C19.4 0.573975 20.7948 1.1449 21.8224 2.15928C22.8499 3.17365 23.4287 4.548 23.4287 5.97966C23.4287 7.41137 22.8499 8.78576 21.8224 9.80024L11.9626 19.5381Z"
              />
            </svg>
          </div>
          <div class="product__image">
            <a class="product__image-link" href="{{ product.href }}">
              <img class="product__image-item" src="{{ product.thumb }}" alt="Product" />
            </a>
          </div>
          <div class="product__content-row">
            <div class="product__content">
              <h4 class="product__title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <div class="product__rating">
                <div class="rating">
                {% for i in 1..5 %}
                {% if product.rating < i %}
                <span class="rating-star"></span>
                {% else %}
                <span class="rating-star rating-filled"></span>
                {% endif %}
              {% endfor %}
                </div>
                <span class="product__rating-total">{{ product.reviews }}</span>
              </div>
              <div class="product__price-row">
              {% if product.special %}
              <p class="product__price">
                <span>{{ product.special }}</span>
              </p>
              {% else %}
              <p class="product__price">
                {{ product.price }}
              </p>
              {% endif %}
              {% if product.special %}
              <p class="product__price-old">{{ product.price }}</p>
              {% endif %}
              </div>
            </div>
            <div class="product__badges">
            {% if product.gifts %}
            <span class="product__badge-present">{{ text_gift }}</span>
            {% endif %}
            {% if product.is_new %}
            <span class="product__badge-new">New</span>
            {% endif %}
            {% if product.special %}
            <span class="product__badge-discount">-{{ product.percent }}%</span>
            {% endif %}
            </div>
          </div>
          <div class="product__additional">
            <button class="product__additional-button" onclick="cart.add('{{ product.product_id }}');">
              <svg class="product__additional-icon"><use href="assets/icons.svg#cartSmall"></use></svg>
              <p>{{ button_cart }}</p>
            </button>
            <ul class="product__additional-attributes">
            {% for attr in product.attributes %}
            <li class="product__additional-attribute">
              <span class="product__additional-attribute_parameter">{{ attr.name }}</span>
              <span class="product__additional-attribute_value">{{ attr.text }}</span>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
       </div>
<!-- 				<div class="row">
					<div class="col-sm-12 text-center">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
				</div> -->
			{% else %}
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			{% endif %}
			{{ content_bottom }}</div>
			{{ column_right }}</div>
</div>
{{ footer }}
