    {{ header }}

    <main>
      <section>
        <div class="breadcrumbs__container">
          <ul class="breadcrumbs">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {{ content_top }}

      <section class="section__regular catalog">
        <div class="catalog__container">
          <h2 class="catalog__title">{{ heading_title }}</h2>
          <div class="catalog__wrapper">
            {% for category in categories %}
            <a href="{{ category.href }}" class="catalog__item">
              <div class="catalog__image_wrapper">
              <svg class="svg-icon catalog-svg-icon">
                <use xlink:href="/image/sprite-category.svg#{{ category.category_id }}"></use>
              </svg>
              </div>
              <div class="catalog__description">
                <h5 class="catalog__name">{{ category.name }}</h5>
                <span class="catalog__quantity">{{ category.count_products }} {{ text_products }}</span>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </section>
      {{ content_bottom }}

      {# <section class="section__regular category_text">
        <div class="category_text__container">
          <div class="category_text__wrapper text__wrapper">
            <div class="text_item">
              <h4>Почему стоит выбрать электроинструмент Прокрафт?</h4>
              <p>
                В настоящее время на рынке электроинструментов в Украине достаточно много предложений как от крупных, так и небольших компаний. Большинство из них стремиться привлечь покупателя не только ассортиментом товаров, но и невысокой ценой.
                Электроинструмент в интернет магазинах можно приобрести с запасными комплектующими, различными насадками, что делает их применение универсальным.
              </p>
              <p>
                Компания Procraft в этом отношении относится к своим покупателям ответственно, изготавливая прежде всего качественную продукцию, которая соответствует всем международным стандартам. Производство всех моделей осуществляется на
                роботизированных заводах, где все компоненты инструментов проходят тщательную проверку и отбор перед тем, как будут включены в сборку. Такой подход позволяет существенно сократить риск попадания бракованных товаров на рынок, ведь
                изготовление и контроль продукции осуществляют опытные европейские специалисты.
              </p>
              <p>В числе основных преимуществ продукции стоит выделить:</p>
            </div>

            <div class="text_item">
              <h4>Обзор ассортимента электроинструмента Прокрафт</h4>
              <p>
                Шуруповерт относится к разряду ручного электрического инструмента, а многофункциональность делает его практически универсальным. Назначением шуруповерта является отворачивание и заворачивание различных гаек, болтов, шурупов,
                саморезов, а также в некоторых случаях - сверление отверстий. Сверление производится на больших оборотах работа с винтами и шурупами - на малых. Регуляция скорости вращения производится предусмотренным в некоторых моделях выбором
                режимов.
              </p>
              <p>
                В процессе работы используются так называемые биты в основе которых лежат металлические стержни, имеющие с одной стороны шестигранную форму для фиксации в патроне инструмента и фигурные плоскости (шлица) с другой. В качестве
                дополнительной защиты от преждевременного износа деталей и узлов шуруповерты оснащены ограничителел крутящего момента.
              </p>
              <p>
                Инструмент оптимально подходит как для работы в домашних условиях, так и для использования в промышленных масштабах. Резерв прочности шуруповертов довольно большой, они обладают высокой степенью защиты от травматизма и поражения
                электротоками.
              </p>
            </div>
          </div>
          <button class="description__button text__button">Читати більше</button>
        </div>
      </section> #}
    </main>

    {{ footer }}