{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-gift" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-gift" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active in" id="tab-general">

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-gift"><span data-toggle="tooltip" title="{{ help_gift }}">{{ entry_gift }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="product_gift" value="{{ product_gift }}" placeholder="{{ entry_gift }}" id="input-gift" class="form-control" />
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                  {% if error_gift %}
                    <div class="text-danger">{{ error_gift }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-based"><span data-toggle="tooltip" title="{{ help_based }}">{{ entry_based }}</span></label>
                <div class="col-sm-10">
                  <select name="based" id="input-based" class="form-control">
                    <option value="0" {{ based == "0" ? "selected" : "" }}>{{ text_amount }}</option>
                    <option value="1" {{ based == "1" ? "selected" : "" }}>{{ text_product }}</option>
                    <option value="2" {{ based == "2" ? "selected" : "" }}>{{ text_category }}</option>
                    <option value="3" {{ based == "3" ? "selected" : "" }}>{{ text_manufacturer }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="1">
                <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                  <div id="gift-product" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for product in products %}
                    <div id="gift-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                      <input type="hidden" name="product[]" value="{{ product.product_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="1">
                <label class="col-sm-2 control-label" for="input-condition1"><span data-toggle="tooltip" title="{{ help_condition }}">{{ entry_condition }}</span></label>
                <div class="col-sm-10">
                  <select name="condition1" id="input-condition1" class="form-control">
                    <option value="0" {{ condition1 == "0" ? "selected" : "" }}>{{ text_all1 }}</option>
                    <option value="1" {{ condition1 == "1" ? "selected" : "" }}>{{ text_any1 }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="2">
                <label class="col-sm-2 control-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="category_name" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
                  <div id="gift-category" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for category in categories %}
                    <div id="gift-category{{ category.category_id }}"><i class="fa fa-minus-circle"></i> {{ category.name }}
                      <input type="hidden" name="category[]" value="{{ category.category_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="2">
                <label class="col-sm-2 control-label" for="input-condition2"><span data-toggle="tooltip" title="{{ help_condition }}">{{ entry_condition }}</span></label>
                <div class="col-sm-10">
                  <select name="condition2" id="input-condition2" class="form-control">
                    <option value="0" {{ condition2 == "0" ? "selected" : "" }}>{{ text_all2 }}</option>
                    <option value="1" {{ condition2 == "1" ? "selected" : "" }}>{{ text_any2 }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="3">
                <label class="col-sm-2 control-label" for="input-manufacturer"><span data-toggle="tooltip" title="{{ help_manufacturer }}">{{ entry_manufacturer }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="manufacturer_name" value="" placeholder="{{ entry_manufacturer }}" id="input-manufacturer" class="form-control" />
                  <div id="gift-manufacturer" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for manufacturer in manufacturers %}
                    <div id="gift-manufacturer{{ manufacturer.manufacturer_id }}"><i class="fa fa-minus-circle"></i> {{ manufacturer.name }}
                      <input type="hidden" name="manufacturer[]" value="{{ manufacturer.manufacturer_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="form-group" data-parent-id="#input-based" data-parent-value="3">
                <label class="col-sm-2 control-label" for="input-condition3"><span data-toggle="tooltip" title="{{ help_condition }}">{{ entry_condition }}</span></label>
                <div class="col-sm-10">
                  <select name="condition3" id="input-condition3" class="form-control">
                    <option value="0" {{ condition3 == "0" ? "selected" : "" }}>{{ text_all3 }}</option>
                    <option value="1" {{ condition3 == "1" ? "selected" : "" }}>{{ text_any3 }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-min"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
                <div class="col-sm-10">
                  <div class="form-inline">
                    <input name="min_total" id="input-min" value="{{ min_total }}" placeholder="{{ entry_min }}" class="form-control">
                    <label>&nbsp;&nbsp; &ndash; &nbsp;&nbsp;</label>
                    <input name="max_total" id="input-max" value="{{ max_total }}" placeholder="{{ entry_max }}" class="form-control">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_date }}">{{ entry_date }}</span></label>
                <div class="col-sm-10">
                  <div class="form-inline">
                  <div class="input-group date">
                    <input type="text" name="date_start" value="{{ date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" class="form-control"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  <label>&nbsp;&nbsp; &ndash; &nbsp;&nbsp;</label>
                  <div class="input-group date">
                    <input type="text" name="date_end" value="{{ date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" class="form-control"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label"><span class="help" title="{{ help_customer_group }}" data-toggle="tooltip">{{ entry_customer_group }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox" name="customer_group[]" value="0" {% if (customer_group is empty) or (0 in customer_group)  %}checked="checked"{% endif %}/> {{ text_all_group }}</label>
                  </div>
                  {% for group in customer_groups %}
                  <div class="checkbox">
                    <label>
                      {% if group.customer_group_id in customer_group %}
                      <input type="checkbox" name="customer_group[]" value="{{ group.customer_group_id }}" checked="checked" />
                      {{ group.name }}
                      {% else %}
                      <input type="checkbox" name="customer_group[]" value="{{ group.customer_group_id }}" />
                      {{ group.name }}
                      {% endif %}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %} 
                  </select>
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>
  </div>
<script type="text/javascript"><!--
$('input[name=\'product_gift\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',     
      success: function(json) {
        
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'product_gift\']').val(item['label']);
    $('input[name=\'product_id\']').val(item['value']);
  } 
});

$('input[name=\'product_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'product_name\']').val('');
    
    $('#gift-product' + item['value']).remove();
    
    $('#gift-product').append('<div id="gift-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');  
  }
});
  
$('#gift-product').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

$('input[name=\'category_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['category_id']
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'category_name\']').val('');
    
    $('#gift-category' + item['value']).remove();
    
    $('#gift-category').append('<div id="gift-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category[]" value="' + item['value'] + '" /></div>'); 
  }
});
  
$('#gift-category').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

$('input[name=\'manufacturer_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['manufacturer_id']
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'manufacturer_name\']').val('');
    
    $('#gift-manufacturer' + item['value']).remove();
    
    $('#gift-manufacturer').append('<div id="gift-manufacturer' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="manufacturer[]" value="' + item['value'] + '" /></div>'); 
  }
});
  
$('#gift-manufacturer').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});
//--></script>
<script><!--
  function visibility(selector = '.form-group'){
    $.each($(selector), function(index, item){
      var parent = $(item).data('parent-id');
      var value = $(item).data('parent-value');
      if (parent) {
      if ($(parent).val() == value) {
        $(item).css('background', '#e9f1fe').show(400);
      } else {
        $(item).hide(400);
      }
      }
    });
  }

  $(document).ready(function(){
    setInterval('visibility()', 500);
  });

  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
//--></script>

</div>
{{ footer }}